<div class="user-card">
  <div class="user-card-header">
    <div class="row w-100">
      <!-- Page Heading -->
      <div class="col-md-2">
        <h4 class="user-card-title">My Donations</h4>
      </div>
      <!-- Donation Stats -->
      <div class="col-md-8">
        <div class="row justify-content-center">
          @if(donationStatistic?.totalProducts) {
          <div class="col-auto">
            <div class="dashboard-widget color-1">
              <div class="dashboard-widget-info">
                <h1>{{ donationStatistic?.totalProducts }}</h1>
                <span>Products Donated</span>
              </div>
              <div class="dashboard-widget-icon ms-4">
                <i class="fa fa-list"></i>
              </div>
            </div>
          </div>
          } @if(donationStatistic?.totalEarning) {
          <div class="col-auto">
            <div class="dashboard-widget color-2">
              <div class="dashboard-widget-info">
                <h1>{{ donationStatistic?.totalEarning | currency }}</h1>
                <span>You Earned</span>
              </div>
              <div class="dashboard-widget-icon ms-4">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          }
        </div>
      </div>

      <!-- Add Donation Button -->
      <div class="col-md-2">
        <button
          class="vein-btn-success float-end"
          type="button"
          (click)="showAddDonationModal()"
        >
          <i class="fa fa-plus"></i>
          Add Donation
        </button>
      </div>
    </div>
  </div>
  <div class="user-card-body">
    <!-- Donations List -->
    <app-donation-list
      [donations]="donations"
      (onDetailClick)="handleShowDonationDetail($event)"
      (onDeleteClick)="handleDeleteDonation($event)"
    ></app-donation-list>
  </div>
</div>
