<form [formGroup]="donationForm" (ngSubmit)="submitForm()" #form="ngForm">
  <div class="modal-header">
    <h5 class="modal-title" id="donationModalLabel">Add Donation</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <!-- Modal Body -->
  <div class="modal-body">
    <div class="row mb-3">
      <!-- Clinic -->
      <div class="col-md-4">
        <label for="clinicId" class="form-label"> Location</label>
        <select
          class="form-select"
          formControlName="clinicId"
          (change)="clinicSelectionChanged($event)"
        >
          @for (clinic of clinics; track clinic.id) {
          <option [value]="clinic.id" [selected]="defaultClinicId == clinic.id">
            {{ clinic.name }}
          </option>
          }
        </select>

        <app-validation-message
          fieldName="clinicId"
          [formGroup]="donationForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>

      <!-- Package Type -->
      <div class="col-md-4">
        <label for="container-type" class="form-label">Package Type</label>
        <select
          class="form-select"
          id="packageType"
          name="packageType"
          formControlName="packageType"
          [(ngModel)]="selectedPackageType"
          (change)="packageTypeChanged()"
        >
          <option [value]="ContainerType.CustomPackage">Custom Package</option>
          <option [value]="ContainerType.Vein360Container">
            Vein360 Container
          </option>
          <option [value]="ContainerType.FedexPackage">Fedex Package</option>
        </select>

        <app-validation-message
          fieldName="packageType"
          [formGroup]="donationForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>

      <!-- Container Type -->
      @if(selectedPackageType ==ContainerType.Vein360Container.toString()){
      <div class="col-md-4">
        <label for="container" class="form-label"> Container</label>
        <select class="form-select" formControlName="containerTypeId">
          <option value="">Select Container</option>
          @for(containerType of containerTypes; track containerType.id){
          <option [value]="containerType.id">
            {{ containerType.name }}
          </option>
          }
        </select>
        <app-validation-message
          fieldName="containerTypeId"
          [formGroup]="donationForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>
      }

      <!-- Fedex Package Type -->
      @if(selectedPackageType ==ContainerType.FedexPackage.toString()){
      <div class="col-md-4">
        <label for="fedexPackageTypeId" class="form-label">
          Fedex Package</label
        >
        <select class="form-select" formControlName="fedexPackageTypeId">
          <option value="">Select Fedex Package</option>
          @for(fedexPack of fedexPacks; track fedexPack.id){
          <option [value]="fedexPack.id">
            {{ fedexPack.description }}
          </option>
          }
        </select>
        <app-validation-message
          fieldName="fedexPackageTypeId"
          [formGroup]="donationForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>
      }
    </div>

    <div class="row mb-3 gy-3">
      <div class="col-md-4">
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="useOldLabel"
            (change)="useOldLabelSelectionChanged()"
          />
          <label class="form-check-label">Use Vein360 Label</label>
        </div>
        @if(useOldLabel){
        <select class="form-select mt-1" formControlName="trackingNumber">
          <option value="">Select Tracking Number</option>
          @for (trackingNumber of trackingNumbers; track trackingNumber) {
          <option [value]="trackingNumber">{{ trackingNumber }}</option>
          }
        </select>
        <app-validation-message
          fieldName="trackingNumber"
          [formGroup]="donationForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
        }
      </div>
    </div>

    <!-- Products -->
    <div class="row pb-2 mt-3 mb-3 border-bottom">
      <div class="col-md-12">
        <span class="fw-bold">Products</span>
      </div>
    </div>

    <!-- Header Row -->
    <div class="row mb-3">
      <div class="col-md-6">
        <label>Product</label>
      </div>
      <div class="col-md-2">
        <label>Units</label>
      </div>
    </div>

    <!-- Product Controls -->
    <ng-container formArrayName="products">
      @for(productControl of productFormControls.controls; track $index; let
      index=$index){
      <div class="row mb-3" [formGroupName]="index">
        <div class="col-md-6">
          <select class="form-select" formControlName="product">
            <option value="">Select Product</option>
            @for(product of products; track product.id.toString()){
            <option [value]="product.id">
              {{ product.name }}
            </option>
            }
          </select>

          <app-validation-message
            fieldName="product"
            [formGroup]="donationForm"
            [ngFormTemplate]="form"
            [arrayIndex]="index"
            arrayFieldName="products"
          ></app-validation-message>
        </div>
        <div class="col-md-2">
          <input
            type="number"
            placeholder="Enter units"
            class="form-control"
            formControlName="units"
          />
          <app-validation-message
            fieldName="units"
            [formGroup]="donationForm"
            [ngFormTemplate]="form"
            [arrayIndex]="index"
            arrayFieldName="products"
          ></app-validation-message>
        </div>
      </div>
      }
    </ng-container>

    <!-- Add Product Button -->
    <div class="row">
      <div class="col-12 mt-2">
        <button
          class="vein-btn-success btn-sm"
          type="button"
          (click)="addProduct()"
        >
          <i class="fa fa-plus"></i>
          Add Product
        </button>
      </div>
    </div>
  </div>

  <!-- Modal Footer -->
  <div class="modal-footer">
    <button type="submit" class="vein-btn-success">Donate</button>
    <button type="button" class="vein-btn-light" (click)="closeModal()">
      Cancel
    </button>
  </div>
</form>
