<div class="modal-header">
  <h5 class="modal-title" id="donationModalLabel">Donation Detail</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
  ></button>
</div>

<div class="modal-body">
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="container-type" class="form-label">Container Type</label>
      <select
        class="form-select"
        id="containerType"
        name="containerType"
        formControlName="containerType"
        disabled
        [value]="donation?.containerType"
      >
        <option value="">Select Container Type</option>
        <option value="1">Vein360 Container</option>
        <option value="2">Fedex Container</option>
        <option value="3">Own Custom Packing</option>
      </select>
    </div>
    @if(donation?.containerType!=ContainerType.OwnCustomPacking){

    <div class="col-md-4">
      <label for="container" class="form-label">{{
        donation?.containerType == ContainerType.Vein360Container
          ? "Container"
          : "Packing Type"
      }}</label>
      <select
        class="form-select"
        id="container"
        formControlName="container"
        [value]="donation?.containerId"
        disabled
      >
        @for(container of associatedContainers; track container.id){
        <option
          [value]="container.id"
          [selected]="container.id == donation!.containerId"
        >
          {{ container.name }}
        </option>
        }
      </select>
    </div>
    } @if(donation?.containerType==ContainerType.OwnCustomPacking) {

    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4">
          <label for="length" class="form-label">Length "</label>
          <input
            type="number"
            class="form-control length-control"
            id="length"
            disabled
            [value]="donation?.length"
          />
        </div>

        <div class="col-md-4">
          <label for="width" class="form-label">Width "</label>
          <input
            type="number"
            class="form-control length-control"
            id="Width"
            disabled
            [value]="donation?.width"
          />
        </div>

        <div class="col-md-4">
          <label for="height" class="form-label">Height "</label>
          <input
            type="number"
            class="form-control length-control"
            id="height"
            disabled
            [value]="donation?.height"
          />
        </div>
      </div>
    </div>
    }

    <div class="col-md-2">
      <label for="weight" class="form-label">Tracking No.</label>
      <input
        type="number"
        class="form-control"
        id="trackingNumber"
        formControlName="trackingNumber"
        disabled
        [value]="donation?.trackingNumber"
      />
    </div>
  </div>
  <div class="row pb-2 mt-5 mb-3 border-bottom">
    <div class="col-md-12">
      <span class="fw-bold">Products</span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <label>Product</label>
    </div>
    <div class="col-md-2">
      <label>Units</label>
    </div>
    <div class="col-md-1">
      <label>Accepted</label>
    </div>
    <div class="col-md-1">
      <label>Rejected</label>
    </div>
  </div>

  <ng-container>
    @for(donationProduct of donation?.products; track $index){
    <div class="row mb-3">
      <div class="col-md-6">
        <select
          class="form-select"
          [value]="donationProduct.productId"
          disabled
        >
          <option value="">Select Product</option>
          @for(product of products; track product.id){
          <option
            [value]="product.id"
            [selected]="product.id == donationProduct.productId"
          >
            {{ product.name }}
          </option>
          }
        </select>
      </div>
      <div class="col-md-2">
        <input
          type="number"
          placeholder="Enter units"
          class="form-control"
          formControlName="units"
          [value]="donationProduct.units"
          disabled
        />
      </div>

      <div class="col-md-1">
        <input type="number" class="form-control" disabled />
      </div>
      <div class="col-md-1">
        <input type="number" class="form-control" disabled />
      </div>
    </div>
    }
  </ng-container>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="closeModal()">
    Close
  </button>
</div>
