<!-- Header -->
<div class="modal-header">
  <h5 class="modal-title text-center w-100" id="donationModalLabel">
    Confirmation
  </h5>
</div>
<!-- Body -->
<div class="modal-body text-center">
  @for (msg of messages; track $index) {
  <p [class]="msg ? 'mb-0' : 'mb-2'">{{ msg }}</p>
  }
</div>
<!-- Footer -->
<div class="modal-footer justify-content-center">
  <button type="button" class="btn {{ btnClass }}" (click)="onYesClick()">
    Yes
  </button>
  <button type="button" class="btn btn-secondary" (click)="onNoClick()">
    No
  </button>
</div>
