<div class="modal-header">
  <h5 class="modal-title" id="donationModalLabel">Donation Detail</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
  ></button>
</div>

<div class="modal-body">
  <div class="row mb-3">
    <!-- Clinic -->
    <div class="col-md-4">
      <label for="clinicId" class="form-label"> Clinic</label>
      <input
        class="form-control"
        [value]="donation?.clinic?.clinicCode"
        disabled
      />
    </div>

    <!-- Package Type -->
    <div class="col-md-4">
      <label for="container-type" class="form-label">Package Type</label>
      <input
        class="form-control"
        disabled
        [value]="GetPackageTypeDescription(donation?.packageType)"
      />
    </div>

    <!-- Container Type -->
    @if(donation?.packageType ==ContainerType.Vein360Container){
    <div class="col-md-4">
      <label for="container" class="form-label"> Container</label>
      <input
        class="form-control"
        [value]="donation?.containerType?.name"
        disabled
      />
    </div>
    }

    <!-- Fedex Package Type -->
    @if(donation?.packageType ==ContainerType.FedexPackage){
    <div class="col-md-4">
      <label for="fedexPackageTypeId" class="form-label"> Fedex Package</label>
      <input
        class="form-control"
        [value]="GetFedexPackageDescription(donation?.fedexPackagingTypeId)"
        disabled
      />
    </div>
    }
  </div>

  <div class="row mb-3 gy-3">
    <div class="col-md-4">
      @if(donation?.useOldLabel){
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          [checked]="donation?.useOldLabel"
          disabled
        />
        <label class="form-check-label">Use Old Label</label>
      </div>
      } @else{
      <label>Tracking Number</label>
      }
      <input
        class="form-control mt-1"
        [value]="donation?.trackingNumber"
        disabled
      />
    </div>
  </div>

  <div class="row pb-2 mt-5 mb-3 border-bottom">
    <div class="col-md-12">
      <span class="fw-bold">Products</span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <label>Product</label>
    </div>
    <div class="col-md-2">
      <label>Units</label>
    </div>
    <div class="col-md-1">
      <label>Accepted</label>
    </div>
    <div class="col-md-1">
      <label>Rejected</label>
    </div>
  </div>

  <ng-container>
    @for(donationProduct of donation?.products; track $index){
    <div class="row mb-3">
      <div class="col-md-6">
        <select
          class="form-select"
          [value]="donationProduct.productId"
          disabled
        >
          <option value="">Select Product</option>
          @for(product of products; track product.id){
          <option
            [value]="product.id"
            [selected]="product.id == donationProduct.productId"
          >
            {{ product.name }}
          </option>
          }
        </select>
      </div>
      <div class="col-md-2">
        <input
          type="number"
          placeholder="Enter units"
          class="form-control"
          formControlName="units"
          [value]="donationProduct.units"
          disabled
        />
      </div>

      <div class="col-md-1">
        <input
          type="number"
          class="form-control"
          [value]="donationProduct.accepted"
          disabled
        />
      </div>
      <div class="col-md-1">
        <input
          type="number"
          class="form-control pe-0"
          [value]="donationProduct.rejected"
          disabled
        />
      </div>

      @if(donationProduct.rejected){
      <div class="col-md-1 pt-2 ps-0">
        <button
          type="button"
          class="btn-link btn-link-icon"
          [popover]="popOverTemplate"
          popoverTitle="Rejection Detail"
          triggers="mouseenter: mouseleave"
        >
          <i class="fa fa-info-circle"></i>
        </button>
        <ng-template #popOverTemplate>
          @if(donationProduct.rejectedClogged){
          <p class="my-1">
            <span class="fw-bold me-1">Clogged :</span>
            {{ donationProduct.rejectedClogged }}
          </p>
          } @if(donationProduct.rejectedDamaged){
          <p class="my-1">
            <span class="fw-bold me-1 popover-label">Damaged :</span>
            {{ donationProduct.rejectedDamaged }}
          </p>

          } @if(donationProduct.rejectedFunction){
          <p class="my-1">
            <span class="fw-bold me-1 popover-label">Function :</span>
            {{ donationProduct.rejectedFunction }}
          </p>
          } @if(donationProduct.rejectedKinked){
          <p class="my-1">
            <span class="fw-bold me-1 popover-label">Kinked :</span>
            {{ donationProduct.rejectedKinked }}
          </p>
          } @if(donationProduct.rejectedOther){
          <p class="my-1">
            <span class="fw-bold me-1 popover-label">Other :</span>
            {{ donationProduct.rejectedOther }}
          </p>
          }
        </ng-template>
      </div>
      }
    </div>
    }
  </ng-container>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="closeModal()">
    Close
  </button>
</div>
