:root {
  --body-font: "Roboto", "sans-serif";
  --body-text-color: #757f95;
  --theme-bg-light: #f5f7fa;
  --theme-color: #03a297;
  --bs-success: #03a297;

  --color-dark: #023350;

  --box-shadow: 0 0 40px 5px rgb(0 0 0/5%);

  --border-info-color: rgba(0, 0, 0, 0.08);
}
