<div class="table-responsive">
  <table class="table table-borderless text-nowrap" id="donation-table">
    <thead>
      <tr>
        <th>#Id</th>
        <th>Container Type</th>
        <th>Location</th>
        <th>Status</th>
        <th>Requested Units</th>
        <th>Approved Units</th>
        <th>Date</th>

        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for(container of containers; track container.id){
      <tr>
        <td>
          <span class="table-list-code"> {{ container.id }} </span>
        </td>
        <td>{{ container.containerType!.name }}</td>
        <td>
          {{ container.clinic?.clinicCode }}
        </td>
        <td>
          @switch (container.status) { @case (ContainerStatus.Requested) {
          <span class="badge badge-primary">Requested</span>
          } @case (ContainerStatus.Approved) {
          <span class="badge badge-success">Approved</span>
          } @case (ContainerStatus.Filled) {
          <span class="badge badge-info">Filled</span>
          } @case (ContainerStatus.Processed) {
          <span class="badge badge-info">Processed</span>
          } @case (ContainerStatus.Rejected) {
          <span class="badge badge-danger">Rejected</span>
          }}
        </td>
        <td>
          {{ container.requestedUnits }}
        </td>
        <td>
          {{ container.approvedUnits }}
        </td>
        <td>
          {{ container.createdDate | date : "mediumDate" }}
        </td>

        <td>
          @if(container.status==ContainerStatus.Requested){
          <button
            class="btn btn-outline-secondary btn-sm"
            data-toggle="tooltip"
            data-placement="top"
            tooltip="Delete"
            type="button"
            (click)="handleDeleteContainer(container.id)"
          >
            <i class="fa fa-trash fa-lg"></i>
          </button>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
