<div class="user-card">
  <div class="user-card-header">
    <h4 class="user-card-title">Containers</h4>
    <!-- Request for a container button -->
    <button
      class="vein-btn-success theme-button float-end text-normal"
      style="text-transform: none"
      type="button"
      (click)="showRequestContainerModal()"
    >
      Request Container(s)
    </button>
  </div>
  <div class="user-card-body">
    <!-- Containers List -->
    <app-container-list
      [containers]="containers"
      (onDelete)="handleDeleteContainer($event)"
    >
    </app-container-list>
  </div>
</div>
